<div class="container">
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile colspan="2">
      <button mat-button color="primary" (click)="openDialog()">Primary</button>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">
      <div *ngIf="latestNameAndAddress" class="card">
        <div class="card-header">
          <h2>{{latestNameAndAddress.firstName}} {{latestNameAndAddress.lastName}}</h2>
          <h4>{{latestNameAndAddress.company}}</h4>
        </div>
        <div class="card-body">
          <ul>
            <li><strong>Address:</strong> {{latestNameAndAddress.address}}</li>
            <li><strong>Address2:</strong> {{latestNameAndAddress.address2}}</li>
            <li><strong>City:</strong> {{latestNameAndAddress.city}}</li>
            <li><strong>State:</strong> {{latestNameAndAddress.state}}</li>
            <li><strong>Postal Code:</strong> {{latestNameAndAddress.postalCode}}</li>
          </ul>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">3</mat-grid-tile>
  </mat-grid-list>
</div>